# OS files
.DS_Store

# npm modules
/node_modules

# Composer files
/vendor
/composer.lock

# Kirby dev install (tests)
/kirby
/site/sessions
/site/plugins/kirby-uniform
/site/plugins/kirby-form
/site/plugins/kirby-flash

# PHPUnit
/.phpunit.cache
